<div class="container my-5">
  <div class="row justify-content-center my-5">
    <div class="col-md-5">
      <a href="/" class="btn btn-sm btn-primary mb-3">back</a>

      <div class="card">
        <div class="card-body">
          <img class="w-100" src="/products/<%= product.photo %>" alt="" />
          <h1><%= product.name %></h1>
          <p><%= product.regularPrice %></p>
        </div>
      </div>
    </div>
  </div>
</div>
